*{
    margin: 0px;
    padding: 0px;

}

.testclass1{
    text-decoration: none;
    color: #9c9090;    
    padding: 10%;
    text-align: center;

}

.testclass1 h1{
    align-items: center;
    color: grey;
}


.container{
    display:flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.header{

    width: 100%;
    border-bottom: #ece8c5;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    
}

.hpart1{
    width: 99%;    
    background-color: #df7e1b;
    align-items: center;
    padding: 1%;
   
    
   
    
}


.htbn{
   
    text-align: left;
    float: right;
  
   

}

.htbn ul{

    list-style: none;
    display:flex;
    flex-wrap: wrap;
}






.hnavbarbtn ul {
    list-style: none;
    
}


.htbn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding:25px;
    font-family: sans-serif;
    font-size: 14px;
    


}

.htbn a:hover{
    text-decoration: solid;
    text-decoration: underline;
    

}


.hpart2{
    width: 100%;
   
}

.hlogo{
    width: 27%;
    float: left;
    padding-left: 3%;
    padding-top:1%;
    padding-bottom:1%;
       

    }




.hnavbar{
    width: 70%;
    
   
    padding-top: 2%;
    float: right;
    

}


.hnavbar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    

}

.hnavbar ul li{
    width: 140px;
    height: 15px;
    color: #666666;
    font-family: sans-serif;
    font-size: 12px;
}



.hnavbar a{
    text-decoration: none;
    width: 16%;
}

.hnavbar a:hover{
    color: black;
    cursor: pointer;
}
    
   


.bodypart{
    
    width: 100%;
    margin-top: 131px;
}


.bpart1{
    background-image: url(./bpgirlanddog.jpg) ;
    width: 100%;
    height: 425px;
    background-size: cover;
    background-repeat: no-repeat;
}

.bpart1left{
    width: 50%;
    float: left;
    color: #df7e1b;
 
    
      

}

.bpart1left h1{
    text-align: center;
    padding-top: 20%;
}

.bpart1left h2{
    text-align: center;
    padding-top: 1%;
}



.bpart1right{
    width: 50%;
    float: left;
    

}


.bpart2{
    background-image: url(https://www.camlinfs.com/Uploads/Images/banner-cfs-our-world.jpg) ;
    width: 100%;
    height: 425px;
    background-size: cover;
    background-repeat: no-repeat;
    
}



.bpart2right, .bpart4left{
    width: 47%;
    float:right;
    padding-top: 5%;
    padding-left: 3%;
    font-family:'sans-serif';
   


}

.bpart2right h1{
    font-size: 24px;
    letter-spacing: 1px;
}


.bpart2right h1, .bpart4left h1{
    color:#df7e1b;
}

.bpart2right p, .bpart4left p{
    
    color:grey;
    padding-bottom: 2%;
    font-size: 14px;
    line-height: 25px;
}

.bparticon ul{
    list-style: none;
    color:grey;
   
    height: 5px;


}

.bparticon ul li{

    display:inline;
    padding-left: 50px;
   
   
    
    }


.bparticon a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 25%;
  
}

.bpartbutton{
    padding-top: 15%;
}

.bpartbutton button{
    background-color: #df7e1b;
    border: none;
    border-radius:10px;
    font-size: 20px;
    color: #FFFFFF;
    padding: 12px;
    width: 160px;
    text-align: center;
    text-decoration: none;
   
}

.bpartbutton button:hover{
    background-color: #b5600c;

}




.bparticon a:hover{
    text-decoration: solid;
    text-decoration: underline;
    

}


.bpart3{
    background-image: url(./cfsmap.jpg) ;
    width: 100%;
    height: 425px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 2%;
   
}

.bpart3 h1{
    color: #df7e1b;
    align-items: center;
    font-family:'sans-serif';
    font-size: 30px;
    letter-spacing: 1px;

}






.bpart3right{
    width: 45%;
    float:right;
    
    

}


.bpart3right h4{
    padding:2%;
}

.bpart3right p{
    padding:1%;
}


.address{
    padding:2%;
    margin-left:35%;
    margin-top:20%;
    background-color: #df7e1b;
    color: white;
    width:fit-content;
    border-radius: 5px;
    opacity: .5;
}

.bpart4{
    background-image: url(./bppic4.jpg) ;
    width: 100%;
    height: 425px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}





.bpart4left{
    width: 50%;
    float: left;
    
    

}

.bpart4right{
    width: 50%;
    float: left;
    

}

.bpart5{
   
    width: 100%;
    height: 699px;
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;

}


.bpart5h2, .bpart5p2{
    color: #df7e1b;
    font-family: 'Arial', Helvetica, sans-serif;
    letter-spacing: 1px;
}

.bpart5p1, .bpart5p2{
    padding-top: 2%;
}

.bpart5p1{
    color: grey;
    line-height: 1.6;
}
    

.bpart5p2{
    font-weight: bold;
}

.bpart5decs{
    padding-bottom: 3%;;
}



.bpart5animationcontainer1{
    width: 100%;
    height: auto;

  
    
    
}

.bpart5animationcontainer1>div {
    width: 20%;
    height: 245px;
    float: left;
    display: flex;
    flex-wrap: wrap;
  
}


.animationholder1{
   
    background-image: url(./animationf1.jpg);
 
}

.animationholder1:hover{
    
    background-image: url(./animationb1.jpg);
    background-repeat: no-repeat; 
   
}
.animationholder2{
   
    background-image: url(./animationf2.jpg);
 
}

.animationholder2:hover{
    
    background-image: url(./animationb2.jpg);
    background-repeat: no-repeat; 
   
}

.animationholder3{
   
    background-image: url(./animationf3.jpg);
 
}

.animationholder3:hover{
    
    background-image: url(./animationb3.jpg);
    background-repeat: no-repeat; 
   
}

.animationholder4{
   
    background-image: url(./animationf4.jpg);
 
}

.animationholder4:hover{
    
    background-image: url(./animationb4.jpg);
    background-repeat: no-repeat; 
   
}

.animationholder5{
   
    background-image: url(./animationf5.jpg);
 
}

.animationholder5:hover{
    
    background-image: url(./animationb5.jpg);
    background-repeat: no-repeat; 
   
}

.animationholder6{
   
    background-image: url(./animationf6.jpg);
 
}

.animationholder6:hover{
    
    background-image: url(./animationb6.jpg);
    background-repeat: no-repeat; 
   
}

.animationholder7{
   
    background-image: url(./animationf7.jpg);
 
}

.animationholder7:hover{
    
    background-image: url(./animationb7.jpg);
    background-repeat: no-repeat; 
   
}

.animationholder8{
   
    background-image: url(./animationf8.jpg);
 
}

.animationholder8:hover {
    
    background-image: url(./animationb8.jpg);
    background-repeat: no-repeat; 
   
   
}

.bpart5btn{
    
    border: none;
    border-radius:10px;
    font-size: 20px;
    color: #FFFFFF;   
    width: 160px;
    text-align: center;
    text-decoration: none;
   
   
    
}



.iframecontainer{
    width: 100%;
    height: 355px;
    
    display: flex;

    
}


.iframeholder, .iframeright{
    width: 50%;
    height: 256px;
    

}

.iframeright{
    padding-top:5%;
    padding-left: 2%;;
}


.iframeholder{
  

  height: 100%;
  border: none;
}

.iframeright h2{
    font-size: 30px;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #df7e1b;



}

.iframeright p{
    padding-top: 1%;
    color: #807f7d;
    line-height: 1.6;
    
}


.footer{
    
    width: 100%;
    background-color: #f5f5f5;
    height: 50px;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    
}

.copyrights{
    width: 48%;
    float: left;
    color: grey;
    padding-left: 2%;
    
    
}

.fbtn{
    width: 50%;
    float: left;
   

}

.fbtn ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
   
   

}

.fbtn ul li{
   
    display:inline;
   
    height: 25px;

}

.fbtn a{
    text-decoration: none;
    color: #df7e1b;
    padding:25px;
    width: 33%;
    
    
}

.fbtn:hover{
    text-decoration:solid;
    text-decoration: underline;
    
}

